.header {
    margin: 45px auto 0;
    max-width: 880px;
    min-height: 74px;
    position: relative;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    width: 100%;
}

.header__logo {
    width: 173px;
    height: 33px;
    margin: 0 0 auto 10px;
}

@media screen and (max-width: 770px) {
  .header {
    margin-top: 28px;
    box-sizing: border-box;
    max-width: 320px;
    min-height: 56px;
    width: 100%;
  }
  .header__logo {
    width: 124px;
    height: 24px;
    margin-left: 27px;
  }
}

