.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    color: #000;
    display: flex;
    padding: 0 19px;
    visibility: none;
    opacity: 0; 
    pointer-events: none;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    max-width: 430px;
    min-height: 330px;
    box-sizing: border-box;
}

.modal__container-preview{
    background: transparent;
    padding: 0;
}

.modal__preview-image{
    max-width: 75vw;
    max-height: 75vh;
    max-width: 100%;
}

.modal__preview-title{
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 10px 0 0;
}

.modal__close {
    background-image: url(../images/close.svg);
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    position: absolute;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.modal__close:hover {
    opacity: 0.6;
  }  

.modal__heading {
    width: 330px;
    height: 24px;
    font-weight: 900; 
    font-size: 1.21;
    margin-bottom: 54px;
}

.modal__form {
    max-width: 100%;
}

.modal__input {
    width: 100%;
    height: 28px;
    margin-bottom: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
  }

  #add-card-url-input, #profile-description-input {
    margin-top: 16px;
  }
  .modal__input:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .modal__button {
    background-color: black;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: white;
    width: 100%;
    height: 50.15px;
    margin-top: 31px;
  }
  
  .modal__button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .modal__button-disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.2);
  }


  .modal__input_type_error{
    border-bottom:1px solid red;
  }

  .modal__label {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal__error {
    display: block;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    height: 12px;
    color: #f00;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    width: 357px;
    transition: opacity 0.3s;
  }

@media screen and (max-width: 768px) {
    .modal__close {
        top: -54px;
        right: 0px;
        width: 26px;
        height: 26px;
    }
  
    .modal__container {
        max-width: 238px;
        padding: 25px 22px;
    }
  
    .modal__heading {
        font-size: 18px;
        margin: 0 0 45px 0;
    }
  
    .modal__button {
        font-size: 14px;
        margin: 45px 0 0 0;
        font-weight: 400;
    }
}