.page {
    background-color: black;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.page__section {
    max-width: 880px;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: 625px) {
    .page__section {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  
    .page__content {
      margin: 0;
    }
}

  